<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="lab.square.spltcoverage.ui.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="lab.square.spltcoverage.ui.commands.category"
            name="Sample Command"
            id="lab.square.spltcoverage.ui.commands.sampleCommand">
      </command>
      <command
            id="lab.square.spltplugin.ui.commands.importSessionCommand"
            name="Import Session">
      </command>
      <command
            id="lab.square.spltplugin.ui.commands.openSessionCommand"
            name="Open Session">
         <commandParameter
               id="lab.square.spltplugin.ui.params.sessionId"
               name="Session Id"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="lab.square.spltcoverage.ui.handlers.SampleHandler"
            commandId="lab.square.spltcoverage.ui.commands.sampleCommand">
      </handler>
      <handler
            class="lab.square.spltcoverage.ui.handlers.ImportSessionHandler"
            commandId="lab.square.spltplugin.ui.commands.importSessionCommand">
      </handler>
      <handler
            class="lab.square.spltcoverage.ui.handlers.OpenSessionHandler"
            commandId="lab.square.spltplugin.ui.commands.openSessionCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="lab.square.spltcoverage.ui.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="lab.square.spltcoverage.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="lab.square.spltcoverage.ui.commands.sampleCommand"
                  id="lab.square.spltcoverage.ui.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="lab.square.spltcoverage.ui.toolbars.sampleToolbar">
            <command
                  id="lab.square.spltcoverage.ui.toolbars.sampleCommand"
                  commandId="lab.square.spltcoverage.ui.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:lab.square.spltcoverage.ui.spltCoverageView?after=additions">
         <command
               commandId="lab.square.spltplugin.ui.commands.importSessionCommand"
               icon="icons/sample.png"
               style="push">
         </command>
         <command
               commandId="lab.square.spltplugin.ui.commands.openSessionCommand"
               icon="icons/sample.png"
               id="lab.squarte.spltplugin.ui.menus.sessionList"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:lab.squarte.spltplugin.ui.menus.sessionList">
         <dynamic
               class="lab.square.spltplugin.ui.dynamic.SessionListDynamic"
               id="lab.square.spltplugin.ui.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="lab.square.spltcoverage.markers.covered"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="lab.square.spltcoverage.markers.covered"
            name="lab.square.spltcoverage.ui.annotationType.covered">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="lab.square.spltcoverage.ui.annotationType.covered"
            colorPreferenceKey="covered_color"
            colorPreferenceValue="192,255,192"
            highlightPreferenceKey="covered_highlight"
            highlightPreferenceValue="true"
            label="Line Covered"
            overviewRulerPreferenceKey="covered_overviewruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="covered_text"
            textPreferenceValue="true"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="covered_verticalruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="lab.square.spltcoverage.ui.spltCoverageCategory"
            name="SPLTCoverage">
      </category>
      <view
            allowMultiple="false"
            category="lab.square.spltcoverage.ui.spltCoverageCategory"
            class="lab.square.spltcoverage.ui.views.SpltCoverageView"
            id="lab.square.spltcoverage.ui.spltCoverageView"
            name="SPLTCoverageTable"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="lab.square.spltplugin.ui.viewContribution1"
            targetID="lab.square.spltcoverage.ui.spltCoverageView">
         <action
               class="lab.square.spltplugin.ui.actions.ImportSessionActionDelegate"
               icon="icons/sample.png"
               id="lab.square.spltplugin.ui.action1"
               label="action"
               style="push">
         </action>
      </viewContribution>
   </extension>

</plugin>
